*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

header{
    height: 100px;
    width: 100%;
    background-color: bisque;
    
}
li{
    display: inline;
    padding-left:10px;
  
    
}
ul{
    margin-left:1%;
    padding-top: 10px;
    text-align: center;   
}
h1{
    padding-top:15px;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-feature-settings: "abvs";
    color: black;
    text-decoration: underline;
    text-overflow: ellipsis;
}
img{
    height: 200px;
    width: 200px;
    float: left;
    overflow: auto;
    border-radius:60px;
}
#book1{
    border-radius: 5px;
    height: 220px;
    width: 400px;
    border: 2px solid black;
    background-color: blueviolet;  
    margin-top: 50px;  
}
#book2{
       margin-top: 50px;  
    height: 230px;
    width: 400px;
    border: 2px solid black;
    position:absolute;
    top: 100px;
    left:900px;
    img{
        float: right;
    }
    background-color: blueviolet;
}
#book3{
         
    height: 250px;
    width: 400px;
    border: 2px solid black;
    margin-top: 30px;
    background-color: blueviolet;
}
#book4{
    height: 250px;
    width: 400px;
    border: 2px solid black;
      position:absolute;
    top: 350px;
    left:900px;
    img{
        float: right;
    }
    background-color: blueviolet;

}
div{
    margin-left: 400px;
    
}
main{
    background-color: honeydew;
}